@charset "UTF-8";
.container .content h1 {
    color: #FF188A;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.content p a {
    color: #FF188A;
}
.container .content .navigation {
    color: #FF188A;
}
