@charset "UTF-8";
.container .content h1 {
    color: #FE1B8F;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    padding-top: 12px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 12px;
    background-color: #FFFFFF;
}
.content p img {
    background-color: #E7D1FF;
    padding-top: 12px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 12px;
}
.content .navigation a {
    color: #FF188A;
}
.container .content .navigation {
    color: #FF188A;
}
